.-register-style-1 {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.-register-style-2 {
  font-size: 14px;
}

.-register-style-3 {
  padding-left: 90px;
}
